@import "./#src/scss/abstracts/mixins.scss";
@import "./#src/scss/abstracts/variables.scss";

.pagination {
  margin: 36px 0 0 0;
  &.pagination-desktop {
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }
  &.pagination-mobile {
    display: none;
    @media (max-width: $breakpoint-md) {
      display: block;
    }
  }
}

.page-numbers {
  border-radius: 10px;
  height: 40px;
  width: 40px;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  cursor: pointer;
  color: #fff;
  border: 2px solid $redColor;
  text-decoration: none;
  @include transition(.3);
  @media (max-width: $breakpoint-md) {
    width: 32px;
    height: 32px;
    font-size: 14px;
    margin-right: 10px;
  }
  &.current {
    background: $redColor;
  }
  &:hover {
    background: $redColor;
  }
  &.next, &.prev {

    @include transition(.3);
    & i {
      display: block;
      font-size: 14px;
      @include transition(.3);
    }
  }
  &.prev {
    margin-right: 36px;
    & i {
      transform: rotate(180deg);
    }
  }
  &.next {
    margin-left: 20px;
  }
  // &.next:hover {
  //   padding-left: 12px;
  // }
  // &.prev:hover {
  //   padding-right: 12px;
  // }
}