@import "../abstracts/mixins";
@import "../abstracts/variables";

.hero-screen {
  height: calc(100vh - 80px);
  &__logo {
    width: 360px;
    @media (min-width: 1600px) {
      width: 404px;
    }
    @media (min-width: 1800px) {
      width: 460px;
    }
    @media (min-width: 2000px) {
      width: 520px;
    }
  }
  &__heading {
    & h1 {
      font-size: 110px;
      line-height: 1;
      color: $whiteColor;
      margin-bottom: 54px;
      position: relative;
      display: inline-block;
      &:before {
        content: "";
        background: $redColor;
        position: absolute;
        width: 160%;
        height: 1px;
        bottom: -25px;
        right: 0;
      }
      @media (min-width: 1600px) {

        &:before {
          bottom: -28px;
        }
      }
      @media (min-width: 1800px) {
        font-size: 122px;
        &:before {
          bottom: -27px;
        }
      }
      @media (min-width: 2000px) {
        font-size: 131px;
        &:before {
        }
      }
    }
    & h2 {
      font-size: 36px;
      line-height: 48px;
      color: $whiteColor;
    }
  }
}
