@import "../abstracts/mixins";
@import "../abstracts/variables";

.home section {
  margin-bottom: 136px;
  @media (max-width: $breakpoint-lg) {
    margin-bottom: 60px;
  }
}

.hero-screen {
  height: calc(100vh - 80px);
  @media (max-width: $breakpoint-md) {
    height: auto;
    padding-top: 45px;
  }
  &__logo {
    width: 360px;
    @media (max-width: $breakpoint-lg) {
      width: 300px;
    }
    @media (max-width: $breakpoint-md) {
      width: 60%;
      margin: auto;
    }
    @media (max-width: $breakpoint-sm) {
      width: 100%;
    }
    @media (min-width: 1600px) {
      width: 404px;
    }
    @media (min-width: $breakpoint-xxl) {
      width: 460px;
    }
    @media (min-width: 2000px) {
      width: 520px;
    }
  }
  &__heading { 
    @media (max-width: $breakpoint-xl) {
      margin-left: 120px;
      margin-top: 83px;
    }
    @media (max-width: $breakpoint-lg) {
      margin-left: 110px;
      margin-top: 53px;
    }
    @media (max-width: $breakpoint-sm) {
      margin-left: 0;
    }
    & h1 {
      font-size: 110px;
      line-height: 1;
      color: $whiteColor;
      margin-bottom: 54px;
      position: relative;
      display: inline-block;
      @media (max-width: $breakpoint-xl) {
        font-size: 70px;
      }
      @media (max-width: $breakpoint-lg) {
        font-size: 60px;
      }
      @media (max-width: $breakpoint-md) {
        margin-bottom: 22px;
      }
      &:before {
        content: "";
        background: $redColor;
        position: absolute;
        width: 160%;
        height: 2px;
        bottom: -25px;
        right: 0;
        @media (max-width: $breakpoint-md) {
          bottom: -10px;
        }
      }
      @media (min-width: 1600px) {
        &:before {
          bottom: -28px;
        }
      }
      @media (min-width: 1800px) {
        font-size: 122px;
        &:before {
          bottom: -28px;
        }
      }
      @media (min-width: 2000px) {
        font-size: 131px;
      }
    }
    & h2 {
      font-size: 36px;
      line-height: 1.3;
      color: $whiteColor;
      @media (max-width: $breakpoint-lg) {
        font-size: 24px;
      }
      @media (max-width: $breakpoint-md) {
        padding-left: 34px;
        font-size: 16px;
      }
    }
  }
}

.home-about {
  &__text {
    color: $whiteColor;
    position: relative;
    @media (max-width: $breakpoint-md) {
      margin-top: -80px;
    }
    &:before {
      position: absolute;
      content: '';
      border: 87px solid #3e3e3e;
      width: 110%;
      height: 160%;
      display: block;
      top: -30%;
      left: -150px;
      z-index: -2;
      @media (max-width: $breakpoint-xl) {
        width: 150%;
        height: 150%;
      }
      @media (max-width: $breakpoint-lg){
        width: 150%;
      }
      @media (max-width: $breakpoint-md) {
        display: none;
      }
    }
    &:after {
      content: '';
      position: absolute;
      background: #525252;
      z-index: -1;
      width: 100%;
      height: 80%;
      left: 20%;
      top: 10%;
      @media (max-width: $breakpoint-md) {
        display: none;
      }
    }
    & h2 {
      @include fontSize(24, 88);
      line-height: 1;
      margin: 0 0 52px -120px;
      position: relative;
      display: inline-block;
      &:before {
        @include underline(125%, 4px);
        bottom: -25px;
      }
      @media (max-width: $breakpoint-md) {
        margin: 0 0 60px 0;
        &:before {
          bottom: -10px;
          width: 145%;
        }
      }
    }
    & p {
      margin-bottom: 24px;
      @media (min-width: 1600px) {
        font-size: 218x;
      }
      @media (min-width: 1800px) {
        font-size: 22px;
      }
    }
  }
}

.services {
  &.home-services {
    margin-top: 300px;
    @media (max-width: $breakpoint-lg) {
      margin-top: 200px;
    }
    @media (max-width: $breakpoint-md) {
      margin-top: 0;
    }
  }
}

.tools {
  display: flex;
  flex-wrap: wrap;
  &-container {
    @media (max-width: $breakpoint-xl) {
      justify-content: center;
    }
    @media (max-width: $breakpoint-md) {
      margin: 0;
    }
  }
  &-box {
    height: 228px;
    display: block;
    overflow: hidden;
    position: relative;
    width: 25%;
    @media (max-width: $breakpoint-xl) {
      margin: 5px;
      width: 23.7%;
      border: 2px solid $redColor;
    }
    @media (max-width: $breakpoint-lg) {
      width: 31.6%;
    }
    @media (max-width: $breakpoint-md) {
      width: 47%;
    } 
    &__overlay {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0%;
      left: -100%;
      background: $redColor;
      z-index: -1;
      border: 4px solid $whiteColor;
      & span {
        &:before {
          content: '';
          position: absolute;
          z-index: 2;
          background: $bodyBackground;
        }
        &:nth-child(1) {
          &:before {
            width: 4px;
            height: 80%;
            top: 10%;
            left: -4px;
          }
        }
        &:nth-child(2) {
          &:before {
            width: 84%;
            height: 4px;
            left: 8%;
            top: -4px;
          }
        }
        &:nth-child(3) {
          &:before {
            width: 4px;
            height: 80%;
            top: 10%;
            right: -4px;
          }
        }
        &:nth-child(4) {
          &:before {
            width: 84%;
            height: 4px;
            left: 8%;
            bottom: -4px;
          }
        }
      }
    }
  }
  &-item {
    height: 100%;
    &__title {
      color: $whiteColor;
      text-align: center;
      padding: 26px;
      font-size: 18px;
      line-height: 36px;
      @media (min-width: 1800px) {
        font-size: 22px;
      }
      @media (max-width: $breakpoint-lg) {
        font-size: 16px;
        line-height: 24px;
        padding: 12px;
      }
    }
  }
}

.team {
  &-pagination {
    width: 100%;
    text-align: center;
    margin: 24px 0;
    @media (min-width: $breakpoint-lg) {
      display: none;
    }
  }
}

.contacts-home {
  & .contacts__map {
    height: 100%;
    @media (max-width: $breakpoint-md) {
      height: 360px;
    }
  }
  & .contacts__content {
    @media (max-width: $breakpoint-md) {
      margin-top: -90px;
    }
  }
  & .contacts__heading {
    position: relative;
    margin: 20px 0 50px -220px;
    &:before {
      width: 120%;
    }
    @media (max-width: $breakpoint-md) {
      margin: 0 0 80px 0;
    }
  }
}

.contacts {
  &__content {
    padding-bottom: 20px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
    & p {
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      color: #7E7E7E;
    }
    & a, span {
      font-size: 18px;
      line-height: 36px;
      color: #FFFFFF;
    }
  }
  &__socials {
    & a {
      display: block;
      margin-right: 24px;
      & i {
        font-size: 24px;
        &:before {
          @include transition(.3);
        }
      }
      &:hover {
        & i:before {
          color: $redColor;
        }
      }
    }
  }
}