@import "../abstracts/mixins";
@import "../abstracts/variables";

.news {
  &__item {
    display: block;
    color: $whiteColor;
    &:hover {
      & .arrow-link {
        &:before {
          left: 110%;
          transform: rotate(45deg);
          width: 20px;
          top: calc(50% - 7.5px);
    
        }
        &:after {
          left: 110%;
          transform: rotate(-45deg);
          width: 20px;
          top: calc(50% - -5.5px);
        }
      }
      & .news__image {
        filter: unset;
      }
    }
  }
  &__image {
    height: 400px;
    filter: saturate(0%);
    @include transition(.3);
  }
  &__more {
    @media (max-width: $breakpoint-lg) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
    & .arrow-link {
      display: inline;
    }
    &_date {
      font-size: 16px;
      line-height: 24px;
      color: #A7A7A7;
      @media (max-width: $breakpoint-lg) {
        margin-bottom: 16px;
      }
      .date_year {
        padding-right: 8px;
        margin-right: 8px;
        border-right: 1px solid #A7A7A7;
      }
    }
  }
  &__content {
    padding: 48px;
    background: #3E3E3E;
    @media (max-width: $breakpoint-xl) {
      padding: 20px;
    }
  }
  &__title {
    margin-bottom: 24px;
  }
}