@import "../abstracts/mixins";
@import "../abstracts/variables";

.news {
  &__item {
    display: block;
    color: $whiteColor;
    &:hover {
      & .arrow-link {
        &:before {
          left: 110%;
          transform: rotate(45deg);
          width: 20px;
          top: calc(50% - 7.5px);
        }
        &:after {
          left: 110%;
          transform: rotate(-45deg);
          width: 20px;
          top: calc(50% - -5.5px);
        }
      }
      & .news__image {
        filter: unset;
      }
    }
  }
  &__image {
    height: 400px;
    filter: saturate(0%);
    @include transition(0.3);
  }
  &__more {
    @media (max-width: $breakpoint-lg) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
    & .arrow-link {
      display: inline;
    }
    &_date {
      font-size: 16px;
      line-height: 24px;
      color: #a7a7a7;
      @media (max-width: $breakpoint-lg) {
        margin-bottom: 16px;
      }
      .date_year {
        padding-right: 8px;
        margin-right: 8px;
        border-right: 1px solid #a7a7a7;
      }
    }
  }
  &__content {
    padding: 48px;
    background: #3e3e3e;
    @media (max-width: $breakpoint-xl) {
      padding: 20px;
    }
  }
  &__title {
    margin-bottom: 24px;
  }
}

// NEWS LIST PAGE

.news-list,
.news-single {
  margin-top: 30px;
  & .heading-2 {
    @media (max-width: $breakpoint-md) {
      margin-bottom: 50px;
    }
    &:before {
      width: 160%;
    }
  }
}


// Services list page 

.services-list {
  & ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
    & li {
      margin: 0 16px 16px 0;
      @media (max-width: $breakpoint-sm) {
        margin: 0 0 20px 0;
        width: 100%;
      }
      & a {
        color: $whiteColor;
        display: block;
        padding: 12px 28px;
        border: 1px solid $redColor;
        @include transition(.3);
        &:hover {
          background: $redColor;
        }
      }
    }
  }
}