@import "../abstracts/mixins";
@import "../abstracts/variables";

.other-page {
  height: calc(100vh - 84px);
  position: relative;
  overflow: hidden;
  margin: 0;
  @media (max-width: $breakpoint-md) {
    height: calc(100vh - 54px);
  }
  &-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    & img {
      @media (max-width: $breakpoint-sm) {
        width: 150%;
        object-position: right;
      }
    }
  }
  // & h1 {
  //   @include fontSize(24, 56);
  //   line-height: 1.2;
  //   font-weight: 900;
  //   margin-bottom: 16px;
  // }
  & img {
    display: block;
    width: 100%;
  }
  &.error-page {
    & .other-page-image img {
      @media (max-width: $breakpoint-sm) {
        width: 180%;
      }
    }
  }
  &.thankyou-page {
    & img {
      max-width: 40%;
      margin-bottom: 10px;
    }
    & h1 {
      margin-bottom: 20px;
      line-height: 1;
      @include fontSize(40, 60);
    }
  }
  & p {
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 8px;
    @media (max-width: $breakpoint-md) {
      font-size: 18px;
    }
  }
  & a {
    margin-top: 16px;
  }
}

.header-contacts {
  background: transparent;
  box-shadow: none;
  & .menu-item__link {
    &:after {
      display: none;
    }
  }
}

.contacts-single {
  margin: 0;
  & .map-container {
    height: 100vh;
    width: 100%;
    @media (max-width: $breakpoint-lg) {
      height: 400px;
      margin-top: 52px;
    }
    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  & .map-description {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    @media (max-width: $breakpoint-lg) {
      position: static;
      height: auto;
      width: auto;
      margin: 0 15px 20px 15px;
    }
    & > .row {
      align-items: center;
    }
    & .contacts__content {
      margin-top: 50px;
      @media (max-width: $breakpoint-md) {
        margin-top: 30px;
      }
    }
    & .contacts__heading {
      font-size: 74px;
      text-align: right;
      width: 100%;
      margin-bottom: 36px;
      @media (min-width: $breakpoint-xxl) {
        font-size: 90px;
      }
      @media (max-width: $breakpoint-md) {
        text-align: left;
        font-size: 40px;
        width: auto;
      }
      &:before {
        width: 120%;
      }
    }
    & .contacts__item {
      margin-bottom: 20px;
    }
    & .contacts__content_container {
      margin-left: 50%;
      @media (max-width: $breakpoint-lg) {
        margin: 0;
      }
    }
    & .contacts__content_inner {
      background: #3E3E3E;
    }
    & .contacts__content_inner {
      padding: 26px 46px;
    }
  }
  
}