@import "../abstracts/mixins";
@import "../abstracts/variables";

.arrow-link {
  color: $redColor;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 40px;
  margin-left: 0px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  &.heading-link {
    margin-left: 40px;
    padding-left: 40px;
  }
  &:before, &:after {
    content: '';
    position: absolute;
    background: #d24a43;
    width: 30px;
    left: 0;
    right: 0;
    top: calc(50% - 1px);
    height: 2px;
    display: block;
    @include transition(.3);
  }
  &:hover {
    &:before {
      left: 110%;
      transform: rotate(45deg);
      width: 20px;
      top: calc(50% - 7.5px);

    }
    &:after {
      left: 110%;
      transform: rotate(-45deg);
      width: 20px;
      top: calc(50% - -5.5px);
    }
  }
}

.heading-underlined-container {
  @media (max-width: $breakpoint-md) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;
    & .heading-underlined {
      margin-bottom: 40px;
    }
    & .heading-link {
      margin-left: 0;
    }
  }
}