@import "../abstracts/mixins";
@import "../abstracts/variables";

// CARD ITEM

.heading-link {
  color: $redColor;
  font-size: 24px;
  line-height: 36px;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 40px;
  padding-left: 40px;
  &:before, &:after {
    content: '';
    position: absolute;
    background: #d24a43;
    width: 30px;
    left: 0;
    right: 0;
    top: calc(50% - 1px);
    height: 2px;
    display: block;
    @include transition(.3);
  }
  &:after {
    transition-delay: .2s;
  }
  &:hover {
    &:before {
      left: 106%;
    }
    &:after {
      left: 106%;
    }
  }
}

.news {
  .heading-link {

    &:after {
      transition-delay: unset;
    }
    &:hover {
      &:before {
        left: 110%;
        transform: rotate(45deg);
        width: 20px;
        top: calc(50% - 7.5px);

      }
      &:after {
        left: 110%;
        transform: rotate(-45deg);
        width: 20px;
        top: calc(50% - -5.5px);
      }
    }
  }
  
}